
.App {
  text-align: center;
}

.fondo-main{
  background-image: url("assets/Pokemon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
}

.fondo-card{
  background-image: url("assets/forest.jpg");
  background-size: cover;
  height: 100%;
  display: flex;
}

.fondo-table{
  background: linear-gradient(cadetblue, darkcyan);
}
